<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
      <br />
      <div class="row">
        <% messages.forEach(function(message) { %>
        <div class="card mb-3">
          <div class="card-body">
            <h5
              class="card-title"
              style="display: flex; justify-content: space-between"
            >
              <%= message.content.title %> <% if (isUserLoggedIn &&
              user.roles.includes('admin')) { %>
              <form action="/delete_message" method="post">
                <button
                  type="submit"
                  class="btn btn-outline-danger"
                  name="delete_message"
                  value="<%= message._id %>"
                >
                  <i class="bi-trash" style="font-size: 1rem"></i>
                </button>
              </form>
              <% } %>
            </h5>
            <% if (isUserLoggedIn && user.roles.includes('member')) { %>
            <h6 class="card-subtitle mb-2 text-muted">
              <%= message.user.full_name %>
            </h6>
            <p class="card-text">
              <small class="text-muted">
                <time datetime="<%= message.created_at %>">
                  <%= message.created_at_formatted %>
                </time>
              </small>
            </p>
            <% } %>
            <p class="card-text"><%= message.content.body %></p>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
    <%- include('partials/scripts.ejs') %>
  </body>
</html>
