<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
      <br />
      <form action="" method="POST">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            placeholder="Enter title"
            value="<%- message.title %>"
          />
        </div>
        <div class="mb-3">
          <label for="body" class="form-label">Message</label>
          <textarea
            class="form-control"
            id="body"
            name="body"
            rows="3"
            placeholder="Enter message"
            value="<%- message.body %>"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
        <%- include('partials/errors.ejs') %>
    </div>
    <%- include('partials/scripts.ejs') %>
  </body>
</html>
