<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
      <h1><%= title %></h1>
      <form action="" method="post">
        <div class="mb-3">
          <label for="first_name" class="form-label">First Name</label>
          <input
            type="text"
            class="form-control"
            id="first_name"
            name="first_name"
            placeholder="Enter your name"
            value="<%= newUser.first_name %>"
          />
        </div>
        <div class="mb-3">
          <label for="last_name" class="form-label">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="last_name"
            name="last_name"
            placeholder="Enter your name"
            value="<%= newUser.last_name %>"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter your email"
            value="<%= newUser.email %>"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter your password"
          />
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label"
            >Confirm Password</label
          >
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Confirm your password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
      <br />
      <% if (errors.length > 0) { %>
      <div class="alert alert-danger" role="alert">
        <ul>
          <% errors.forEach(function(error) { %>
          <li><%= error.msg %></li>
          <% }); %>
        </ul>
      </div>
      <% } %>
    </div>
  </body>
</html>
